# It's recommended to install torch and torchvision together, matching your CUDA version.
# Visit https://pytorch.org/get-started/locally/ for the most up-to-date command.
# Example for CUDA 12.9
# pip install torch==2.3.1 torchvision==0.18.1 --index-url https://download.pytorch.org/whl/cu121

torch
torchvision
numpy
opencv-python
mss
pynput
scikit-learn
tensorboard
matplotlib
seaborn
psutil